In [2]:
import numpy as np                   # Numerical computation library
import pandas as pa                  # Dataframe and Data manipulation Library
import matplotlib.pyplot as plt      # Basic plotting functionality Library
import seaborn as sn                 # Advanced Data visualization Library
import numpy.random as rn
from sklearn.linear_model import LinearRegression
import matplotlib.colors as pltco # A package to help with coloring plots


[x for x in dir(list) if not '__' in x]
  
# Curreny Exchange Rates compared to the US dollar from around the world 22 for 2008-2018
gdp_per_industry = pa.read_csv('https://www.dropbox.com/s/emd7111t9g0rtd2/career_projections_group.csv?dl=1')
workforce_demographic2018 = pa.read_csv('https://www.dropbox.com/s/w1zzumsadlgg9pn/Colorado_Current_Workforce_Demographic.csv?dl=1')

gdp_per_industry = gdp_per_industry.drop(0)
workforce_demographic2018 = workforce_demographic2018.drop(0)

In [3]:
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('seaborn-whitegrid')
import numpy as np
from sklearn.cluster import KMeans
from sklearn.linear_model import LinearRegression
import matplotlib.cm as cm

In [4]:
workforce_demographic2018['OCC_GROUP'] = workforce_demographic2018['OCC_GROUP'].astype(str)
detailed_groups_df = workforce_demographic2018.loc[workforce_demographic2018.OCC_GROUP.apply(lambda cat: 'detailed' in cat)]
major_groups_df = workforce_demographic2018.loc[workforce_demographic2018.OCC_GROUP.apply(lambda cat: 'major' in cat)]
#detailed_groups_raw_data = detailed_groups_df.drop(['AREA','STATE','ST','OCC_GROUP','OCC_TITLE','ANNUAL','HOURLY'], axis=1)

In [5]:
major_groups_clean = major_groups_df.drop(['AREA','STATE','ST','OCC_GROUP','ANNUAL','HOURLY','H_PCT90','A_PCT90','OCC_CODE'], axis=1)

In [6]:
major_groups_clean.head()

,OCC_TITLE,TOT_EMP,EMP_PRSE,JOBS_1000,LOC_Q,H_MEAN,A_MEAN,MEAN_PRSE,H_PCT10,H_PCT25,H_MEDIAN,H_PCT75,A_PCT10,A_PCT25,A_MEDIAN,A_PCT75
1,Management Occupations,"116,770",1.1,44.556,0.85,63.34,"131,750",0.8,26.78,38.28,56.15,78.38,"55,700","79,630","116,800","163,030"
35,Business and Financial Operations Occupations,"190,330",1.0,72.626,1.36,37.87,"78,780",0.7,19.47,25.71,34.14,46.03,"40,510","53,470","71,000","95,750"
64,Computer and Mathematical Occupations,"116,930",1.9,44.620,1.47,46.58,"96,880",0.9,24.51,33.07,45.06,58.30,"50,990","68,790","93,730","121,260"
83,Architecture and Engineering Occupations,"61,970",2.2,23.647,1.34,43.80,"91,090",1.1,22.35,29.72,39.62,54.67,"46,480","61,820","82,400","113,710"
116,"Life, Physical, and Social Science Occupations","30,330",2.0,11.575,1.43,36.62,"76,170",2.3,16.74,22.85,32.42,45.63,"34,810","47,520","67,440","94,910"

In [7]:
major_groups_numeric = major_groups_clean.replace(',','',regex=True)

In [8]:
major_groups_numeric['OCC_TITLE'] = major_groups_numeric['OCC_TITLE'].astype(str)

In [9]:
major_groups_numeric = major_groups_numeric.iloc[:,1:].astype(float)

In [12]:
major_groups_numeric.astype(float);

In [13]:
major_groups_numeric.to_csv('major_groups_unnormalized.csv', index=False)

In [9]:
from sklearn import preprocessing

x = major_groups_numeric.values 
min_max_scaler = preprocessing.MinMaxScaler()
x_scaled = min_max_scaler.fit_transform(x)

major_data_normalized = pa.DataFrame(x_scaled)

In [10]:
occ_titles = []
occ_titles = major_groups_clean.iloc[:,0:1]

In [11]:
col_one_list = occ_titles['OCC_TITLE'].tolist()

In [12]:
indexed_occ_title = pa.DataFrame(col_one_list)

In [13]:
major_data_normalized.insert(0, "OCC TITLE", indexed_occ_title)

In [14]:
major_data_normalized.head(22)

,OCC TITLE,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14
0,Management Occupations,0.309646,0.029851,0.309635,0.270588,1.000000,1.000000,0.076923,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000
1,Business and Financial Operations Occupations,0.517243,0.014925,0.517236,0.870588,0.492832,0.492867,0.051282,0.559107,0.552191,0.508266,0.496655,0.559455,0.552055,0.508109,0.496671
2,Computer and Mathematical Occupations,0.310098,0.149254,0.310108,1.000000,0.666268,0.666156,0.102564,0.863088,0.814393,0.752234,0.687568,0.863399,0.814384,0.752229,0.687514
3,Architecture and Engineering Occupations,0.154992,0.194030,0.154995,0.847059,0.610912,0.610723,0.153846,0.732811,0.695048,0.630697,0.631088,0.732599,0.695034,0.630545,0.631032
4,"Life, Physical, and Social Science Occupations",0.065700,0.164179,0.065712,0.952941,0.467941,0.467879,0.461538,0.394451,0.450303,0.469839,0.490431,0.394142,0.450171,0.469874,0.490387
5,Community and Social Service Occupations,0.091494,0.164179,0.091509,0.447059,0.216249,0.216084,0.153846,0.207479,0.249377,0.250447,0.230279,0.207367,0.249486,0.250456,0.230194
6,Legal Occupations,0.043715,0.298507,0.043717,0.564706,0.824771,0.824701,1.000000,0.682147,0.662273,0.674710,0.878948,0.682425,0.662158,0.674686,0.878881
7,"Education, Training, and Library Occupations",0.383925,0.000000,0.383918,0.329412,0.264436,0.264337,0.820513,0.159228,0.230139,0.252458,0.260152,0.159223,0.230137,0.252497,0.260043
8,"Arts, Design, Entertainment, Sports, and Media...",0.094796,0.194030,0.094800,0.623529,0.267423,0.267401,0.307692,0.045838,0.154970,0.242851,0.286603,0.045824,0.154966,0.242938,0.286527
9,Healthcare Practitioners and Technical Occupat...,0.392702,0.089552,0.392720,0.364706,0.542214,0.542173,0.153846,0.458384,0.548985,0.513628,0.492765,0.458527,0.548801,0.513586,0.492631
10,Healthcare Support Occupations,0.165632,0.179104,0.165637,0.305882,0.078654,0.078602,0.076923,0.072376,0.110082,0.105228,0.081064,0.071926,0.110103,0.105252,0.081020
11,Protective Service Occupations,0.146836,0.238806,0.146845,0.388235,0.217443,0.217425,0.564103,0.075995,0.135732,0.200626,0.277112,0.075696,0.135616,0.200516,0.277026
12,Food Preparation and Serving Related Occupations,0.700457,0.044776,0.700446,0.505882,0.000000,0.000000,0.051282,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
13,Building and Grounds Cleaning and Maintenance ...,0.214681,0.134328,0.214694,0.494118,0.037634,0.037530,0.128205,0.013269,0.045957,0.052279,0.047145,0.013051,0.045890,0.052196,0.047056
14,Personal Care and Service Occupations,0.243326,0.194030,0.243331,0.376471,0.037634,0.037530,0.179487,0.000603,0.022444,0.020107,0.038587,0.000290,0.022603,0.020084,0.038603
15,Sales and Related Occupations,0.803889,0.074627,0.803906,0.576471,0.196933,0.196745,0.153846,0.014475,0.046313,0.094057,0.200716,0.014211,0.046404,0.094082,0.200643
16,Office and Administrative Support Occupations,1.000000,0.000000,1.000000,0.341176,0.130625,0.130493,0.000000,0.074789,0.136088,0.149017,0.146569,0.074536,0.135959,0.148964,0.146555
17,"Farming, Fishing, and Forestry Occupations",0.000000,1.000000,0.000000,0.223529,0.049383,0.049306,0.307692,0.000603,0.030638,0.052502,0.060370,0.000290,0.030822,0.052626,0.060223
18,Construction and Extraction Occupations,0.377152,0.089552,0.377151,0.800000,0.217244,0.217233,0.051282,0.249698,0.261133,0.249106,0.227167,0.249710,0.261301,0.249060,0.227127
19,"Installation, Maintenance, and Repair Occupations",0.266411,0.089552,0.266413,0.447059,0.231581,0.231498,0.025641,0.174306,0.244745,0.264298,0.257507,0.174014,0.244863,0.264204,0.257425
20,Production Occupations,0.269487,0.298507,0.269483,0.000000,0.131223,0.131067,0.076923,0.059710,0.111507,0.132484,0.144391,0.059165,0.111644,0.132424,0.144385
21,Transportation and Material Moving Occupations,0.405910,0.164179,0.405914,0.223529,0.143767,0.143705,0.948718,0.024729,0.080513,0.121761,0.136456,0.024652,0.080479,0.121684,0.136306

In [15]:
major_data_normalized.to_csv('major_data_normalized.csv', index=False)

In [49]:
X = np.array(major_data_normalized.iloc[:,1:15])
y = np.array(major_data_normalized.iloc[:,0:1])

In [50]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix

In [51]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [52]:
df_x_train = pa.DataFrame(x_train)
df_y_train = pa.DataFrame(y_train)

In [53]:
df_x_test = pa.DataFrame(x_test)
df_y_test = pa.DataFrame(y_test)

In [54]:
df_x_train.insert(0, "OCC TITLE", df_y_train)

In [55]:
df_x_test.insert(0, "OCC TITLE", df_y_test)

In [58]:
df_x_train.drop('OCC TITLE',axis=1);   #drops the title column in both testing and training so that my neural network can just go straight to working with float and int dtypes
df_x_test.drop('OCC TITLE',axis=1);

In [61]:
df_x_train.to_csv('training_data_TF1.csv', index=False)

In [62]:
df_x_test.to_csv('testing_data_TF1.csv', index=False)