In [1]:
import numpy as np                   # Numerical computation library
import pandas as pa                  # Dataframe and Data manipulation Library
import matplotlib.pyplot as plt      # Basic plotting functionality Library
import seaborn as sn                 # Advanced Data visualization Library
import numpy.random as rn
from sklearn.linear_model import LinearRegression
import matplotlib.colors as pltco # A package to help with coloring plots


[x for x in dir(list) if not '__' in x]

group_data = pa.read_csv('https://www.dropbox.com/s/dupzzfsbkor282d/437_Group_Data1.csv?dl=1')

In [2]:
group_data.head()

,Career Category,Total employed,Women,Men,White,Black or African American,Asian,Hispanic or Latino
0,Crop production,"1,435",27.803400,72.196600,93.545400,2.321500,1.687900,34.703300
1,Animal production,823,26.414200,73.585800,93.010600,1.629600,1.652200,18.551400
2,Logging,166,7.500000,92.500000,86.000000,5.100000,1.400000,8.800000
3,Supervisor,"1,216",10.640262,89.359738,88.013388,6.319574,2.011359,29.762781
4,Entry level Construction,"10,478",10.300000,89.700000,88.100000,6.400000,1.900000,30.400000

In [15]:
group_data = group_data.replace(',','',regex=True)

In [47]:
X = np.array(group_data[['Men', 'Women', 'Black or African American', 'Asian', 'Hispanic or Latino']])
y = np.array(group_data['Total employed'])

In [48]:
from sklearn.model_selection import train_test_split

In [49]:
x_train,x_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

In [50]:
v = [0]*X.shape[1]
for k in range(X.shape[1]):
    M = X[:, k].max()
    m = X[:, k].min()
    v[k] = (X[:, k] - m)/(M - m)
Xn = np.c_[v].transpose()

In [51]:
from sklearn.neural_network import MLPRegressor

In [55]:
mlp = MLPRegressor(hidden_layer_sizes = (100), solver = 'lbfgs', activation = 'relu', alpha=0.0001)
mlp.fit(x_train,y_train)
predictions3 = mlp.predict(x_test)
#plot_reg_model(mlp, Xn, y);

In [74]:
print(predictions3.astype(int))

[2611 1865 3039 2010 2885 2885  992 3201 2413  652 1865  943 1021 1942
 3574]

In [77]:
y_test_array = np.array(y_test)
y_test_array = y_test_array.astype(int)
print(y_test_array)

[3795 2298 3260  239  128  189 9369 9711  150  823 3447   68  127  254
 1489]

In [78]:
total_sum = 0

for i in range (len(y_test)):
    distance = y_test_array[[i]] - predictions3[[i]]
    total_sum += distance
    
total_average = abs(total_sum//len(y_test)).astype(int)   ## Prints the average distance between my prediction and y_train. could easily be switched to y_test - going to try for 'detailed' group
print("Average Distance between y_test and Nueral Network predictions(total employees):", total_average)

Average Distance between y_test and Nueral Network predictions(total employees): [229]

In [79]:
projection_central = pa.read_csv('https://www.dropbox.com/s/emd7111t9g0rtd2/career_projections_group.csv?dl=1')

#projection_central.head()

In [91]:
X2.shape

(72, 5)

In [92]:
y2.shape

(685,)

In [115]:
merged_inner = pa.merge(left=group_data, right=projection_central, left_on='Total employed', right_on='Base')
# In this case `species_id` is the only column name in  both dataframes, so if we skipped `left_on`
# And `right_on` arguments we would still get the same result

# What's the size of the output data?
merged_inner.shape

(14, 34)

In [118]:
merged_inner.dtypes

Career Category               object
Total employed                object
Women                        float64
Men                          float64
White                        float64
Black or African American    float64
Asian                        float64
Hispanic or Latino           float64
Unnamed: 0                   float64
State FIPS                    object
Area Name                     object
Occupation Code               object
Occupation Name               object
Base Year                     object
Base                          object
Projected Year                object
Projection                    object
Change                        object
Percent Change                object
Average Annual Openings       object
Unnamed: 12                  float64
Unnamed: 13                  float64
Unnamed: 14                  float64
Unnamed: 15                  float64
Unnamed: 16                  float64
Unnamed: 17                  float64
Unnamed: 18                  float64
Unnamed: 19                  float64
Unnamed: 20                  float64
Unnamed: 21                  float64
Unnamed: 22                  float64
Unnamed: 23                  float64
Unnamed: 24                  float64
Unnamed: 25                  float64
dtype: object

In [124]:
merged_inner['Projection'] = merged_inner['Projection'].astype(float)

In [125]:
X2 = np.array(merged_inner[['Men', 'Women', 'Black or African American', 'Asian', 'Hispanic or Latino']])
y2 = np.array(merged_inner['Projection'])

In [126]:
x2_train,x2_test,y2_train,y2_test=train_test_split(X2,y2,test_size=0.2)

In [134]:
mlp2 = MLPRegressor(hidden_layer_sizes = (100), solver = 'lbfgs', activation = 'relu', alpha=0.0001)
mlp2.fit(x2_train,y2_train)
predictions4 = mlp2.predict(x_test)

In [135]:
y2_test_array = np.array(y2_test).astype(int)
print(y2_test_array)

[750 760 200]

In [136]:
total_sum = 0

for i in range (len(y2_test)):
    distance = y2_test_array[[i]] - predictions4[[i]]
    total_sum += distance
    
total_average = abs(total_sum//len(y2_test)).astype(int)   ## Prints the average distance between my prediction and y_train. could easily be switched to y_test - going to try for 'detailed' group
print("Average Distance between y2_test and Nueral Network predictions(total employees):", total_average)

Average Distance between y2_test and Nueral Network predictions(total employees): [416]

In [137]:
mlp3 = MLPRegressor(hidden_layer_sizes = (100, 100), solver = 'lbfgs', activation = 'relu', alpha=0.0001)

In [138]:
mlp3.fit(x2_train,y2_train)
predictions5 = mlp3.predict(x_test)

In [139]:
total_sum = 0

for i in range (len(y2_test)):
    distance = y2_test_array[[i]] - predictions5[[i]]
    total_sum += distance
    
total_average = abs(total_sum//len(y2_test)).astype(int)   ## Prints the average distance between my prediction and y_train. could easily be switched to y_test - going to try for 'detailed' group
print("Average Distance between y2_test and Nueral Network predictions(total employees):", total_average)

Average Distance between y2_test and Nueral Network predictions(total employees): [516]